<nav id="mobile-nav" [ngClass]="{'open': mobileNavService.isOpen()}">
  <ul class="text-[15px] font-bold font-Spartan leading-[25px] tracking-[1.36px]">
    <li (click)="mobileNavService.close()"  routerLink="/Mercury"
      class="flex justify-between items-center pb-[20px] pr-[6px] border-b-white/20 border-b">
      <span class="flex items-center gap-[25px]">
        <span class="w-[20px] aspect-square rounded-full bg-[#DEF4FC]"></span>
        Mercury
      </span>
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8">
          <path fill="none" stroke="#FFF" opacity=".4" d="M1 0l4 4-4 4" />
        </svg>
      </span>
    </li>
    <li (click)="mobileNavService.close()"  routerLink="/Venus"
      class="flex justify-between items-center py-[20px] pr-[6px] border-b-white/20 border-b">
      <span class="flex items-center gap-[25px]">
        <span class="w-[20px] aspect-square rounded-full bg-[#F7CC7F]"></span>
        Venus
      </span>
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8">
          <path fill="none" stroke="#FFF" opacity=".4" d="M1 0l4 4-4 4" />
        </svg>
      </span>
    </li>
    <li (click)="mobileNavService.close()"  routerLink="/Earth"
      class="flex justify-between items-center py-[20px] pr-[6px] border-b-white/20 border-b">
      <span class="flex items-center gap-[25px]">
        <span class="w-[20px] aspect-square rounded-full bg-[#545BFE]"></span>
        Earth
      </span>
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8">
          <path fill="none" stroke="#FFF" opacity=".4" d="M1 0l4 4-4 4" />
        </svg>
      </span>
    </li>
    <li (click)="mobileNavService.close()"  routerLink="/Mars"
      class="flex justify-between items-center py-[20px] pr-[6px] border-b-white/20 border-b">
      <span class="flex items-center gap-[25px]">
        <span class="w-[20px] aspect-square rounded-full bg-[#FF6A45]"></span>
        Mars
      </span>
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8">
          <path fill="none" stroke="#FFF" opacity=".4" d="M1 0l4 4-4 4" />
        </svg>
      </span>
    </li>
    <li (click)="mobileNavService.close()"  routerLink="/Jupiter"
      class="flex justify-between items-center py-[20px] pr-[6px] border-b-white/20 border-b">
      <span class="flex items-center gap-[25px]">
        <span class="w-[20px] aspect-square rounded-full bg-[#ECAD7A]"></span>
        Jupiter
      </span>
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8">
          <path fill="none" stroke="#FFF" opacity=".4" d="M1 0l4 4-4 4" />
        </svg>
      </span>
    </li>
    <li (click)="mobileNavService.close()"  routerLink="/Saturn"
      class="flex justify-between items-center py-[20px] pr-[6px] border-b-white/20 border-b">
      <span class="flex items-center gap-[25px]">
        <span class="w-[20px] aspect-square rounded-full bg-[#FCCB6B]"></span>
        Saturn
      </span>
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8">
          <path fill="none" stroke="#FFF" opacity=".4" d="M1 0l4 4-4 4" />
        </svg>
      </span>
    </li>
    <li (click)="mobileNavService.close()"  routerLink="/Uranus"
      class="flex justify-between items-center py-[20px] pr-[6px] border-b-white/20 border-b">
      <span class="flex items-center gap-[25px]">
        <span class="w-[20px] aspect-square rounded-full bg-[#65F0D5]"></span>
        Uranus
      </span>
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8">
          <path fill="none" stroke="#FFF" opacity=".4" d="M1 0l4 4-4 4" />
        </svg>
      </span>
    </li>
    <li (click)="mobileNavService.close()"  routerLink="/Neptune"
      class="flex justify-between items-center py-[20px] pr-[6px] border-b-white/20 border-b">
      <span class="flex items-center gap-[25px]">
        <span class="w-[20px] aspect-square rounded-full bg-[#497EFA]"></span>
        Neptune
      </span>
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8">
          <path fill="none" stroke="#FFF" opacity=".4" d="M1 0l4 4-4 4" />
        </svg>
      </span>
    </li>
  </ul>
</nav>